@model IEnumerable<MyWebsite.Models.BudgetEntries>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroceryLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntertainmentLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillsLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GasLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MiscLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeOfBudget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroceryLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntertainmentLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillsLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GasLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiscLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfBudget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
