@using System.Globalization
@model IEnumerable<MyWebsite.Models.BudgetProject.BudgetItems>

@{
    var budgetType = new Dictionary<int, string>();
    budgetType.Add(1, "Grocery");
    budgetType.Add(2, "Housing");
    budgetType.Add(3, "Bills");
    budgetType.Add(4, "Entertainment");
    budgetType.Add(5, "Gas");
    budgetType.Add(6, "Miscellaneous");

    for (var month = 1; month < 13; month++)
    {
        var monthName = DateTimeFormatInfo.CurrentInfo.GetMonthName(month);
        var containerId = "BudgetContainer" + month.ToString();
        <div class="container center" id=@containerId style="margin-top:35px; margin-bottom:50px; display:none;">
            <h5 style="margin-top:55px; margin-bottom:35px; font-weight:bold; color:#cfd8dc; text-align:center">@monthName Transactions</h5>
            
            @foreach (var type in budgetType)
            {
                var transactionId = "transactionBtn" + type.Key.ToString() + type.Value.ToString();
                var transactionsId = "transactions" + type.Key.ToString() + type.Value.ToString();
                <a class="waves-effect waves-light lightBrown-hover btn-large sharpCorners grey darken-4" id=@transactionId style="font-weight:bold; font-size:20px; margin-top:10px;"><i class="material-icons left">local_dining</i>@type.Value</a>
                <table class="table" id=@transactionsId align="center" style="display:none; width:25%; margin-bottom:25px;">
                    <tr style="border-bottom: 1px dotted #cfd8dc">
                        <th>Date</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    @{ int count = 0;}
                    @foreach (var item in Model.Where(x => x.Month == 1).Where(x => Convert.ToInt32(x.TypeOfBudget) == type.Key).OrderBy(x => x.Date))
                    {
                        count += 1;
                        <tr style="border-bottom: 1px dotted #cfd8dc">
                            <td>@item.Date.ToString("MM/dd/yyyy")</td>
                            <td>@item.Description</td>
                            <td>$@item.Cost</td>
                            <td><a href='@Url.Action("DeletePastTransaction", "Budgets", new { id = item.TransactionId })'><i class="material-icons left trashcan-icon">delete</i></a></td>
                        </tr>
                    }

                    @if (count == 0)
                    {
                        <tr>
                            <th>No Transactions...</th>
                        </tr>
                    }
                </table>
            }
        }
            <h2 id="totalSpent1" style="display:none">@TempData["spentInJan"]</h2>
            <h2 id="totalBudget1" style="display:none">@TempData["janTotal"]</h2>
            <div style="margin-bottom:-100px;"></div>
            <div align="center" style="margin-top:50px;" id="donutchartTotal1"></div>
        </div>
    }
}
