@using System.Globalization
@model IEnumerable<MyWebsite.Models.BudgetProject.BudgetItems>

@{
    var budgetType = new Dictionary<int, string>();
    budgetType.Add(1, "Grocery");
    budgetType.Add(2, "Housing");
    budgetType.Add(3, "Bills");
    budgetType.Add(4, "Entertainment");
    budgetType.Add(5, "Gas");
    budgetType.Add(6, "Miscellaneous");

    var iconSymbolType = new List<string>();
    iconSymbolType.Add("local_dining");
    iconSymbolType.Add("home");
    iconSymbolType.Add("monetization_on");
    iconSymbolType.Add("local_activity");
    iconSymbolType.Add("drive_eta");
    iconSymbolType.Add("gesture");

    for (var month = 1; month < 13; month++)
    {
        var iconCount = 0;
        var monthName = DateTimeFormatInfo.CurrentInfo.GetMonthName(month);
        var containerId = "BudgetContainer" + month;
        var donutId = "donutchartTotal" + month;

        <div class="container center" id=@containerId style="margin-top:35px; margin-bottom:50px; display:none;">
            <h5 style="margin-top:55px; margin-bottom:35px; font-weight:bold; color:#cfd8dc; text-align:center">@monthName Transactions</h5>
            
            @foreach (var type in budgetType)
            {
                var transactionId = "transactionBtn" + type.Key + month;
                var transactionsId = "transactions" + type.Key + month;
                var count = 0;

                <a class="waves-effect waves-light underline-hover btn-large grey darken-4 typeButton" id=@transactionId style="font-weight:bold; font-size:20px; margin-top:10px;"><i class="material-icons left">@iconSymbolType[iconCount]</i>@type.Value</a>
                <table class="table" id=@transactionsId align="center" style="display:none; width:25%; margin-bottom:25px;">
                    <tr style="border-bottom: 1px dotted #cfd8dc">
                        <th>Date</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Where(x => x.Month == month).Where(x => Convert.ToInt32(x.TypeOfBudget) == type.Key).OrderBy(x => x.Date))
                    {
                        count += 1;
                        <tr style="border-bottom: 1px dotted #cfd8dc">
                            <td>@item.Date.ToString("MM/dd/yyyy")</td>
                            <td>@item.Description</td>
                            <td>$@item.Cost</td>
                            <td><a href='@Url.Action("DeleteTransaction", "Budgets", new { id = item.TransactionId, returnTo = "PastBudgets" })'><i class="material-icons left trashcan-icon">delete</i></a></td>
                        </tr>
                    }

                    @if (count == 0)
                    {
                        <tr>
                            <th>No Transactions...</th>
                        </tr>
                    }
                </table>
                iconCount++;
            }
            
            @{
                var totalSpentId = "totalSpent" + month;
                var totalBudgetId = "totalBudget" + month;}
        
            <h2 id=@totalSpentId style="display:none">@ViewBag.MonthListSpent[month -1]</h2>
            <h2 id=@totalBudgetId style="display:none">@ViewBag.MonthListTotal[month -1]</h2>
            <div style="margin-bottom:-100px;"></div>
            <div align="center" style="margin-top:50px;" id=@donutId></div>
        </div>
    }
}


