@*Set Budget Limit Form*@

@{ var currentMonth = DateTime.Now.ToString("MMMM");}

<form method="post" style="margin-bottom: 20px;" action="@Url.Action("Index", "Budgets", new {usePastBudgetLimit = false})">
    <div style="margin-top: 55px; margin-bottom: 25px; text-align: center;">
        <h4 class="flow-text" style="margin-bottom: 30px;"><i class="fas fa-sliders-h"></i> Set Budget Limits for @currentMonth</h4>
        <button class="waves-effect waves-light btn greenBudgetBtn" type="submit" name="Save"><i class="fas fa-check"></i> Save Limits</button>
        <p id="updateLimitError" style="margin-left: 15px; color: #d32f2f; display: inline">@ViewBag.ErrorUpdatingLimits</p>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="card col l6 offset-l3 col m10 offset-m1 s12 z-depth-5" style="background-color: #10171e; margin-top: 20px;">
            <h5 class="flow-text" style="font-weight: bold; text-align: center"><i class="material-icons left light-green-text text-lighten-3">local_dining</i> Groceries | Restaurant</h5>
            <div class="center input-field">
                <input name="GroceryLimit"  class="budgetLimitInput" placeholder="$0.00">
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0">
        <div class="card col l6 offset-l3 col m10 offset-m1 s12 z-depth-5" style="background-color: #10171e;">
            <h5 class="flow-text" style="font-weight: bold; text-align: center"><i class="material-icons left light-green-text text-lighten-3">home</i> Mortgage | Rent</h5>

            <div class="center input-field">
                <input name="HousingLimit"  class="budgetLimitInput" placeholder="$0.00">
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0;">
        <div class="card col l6 offset-l3 col m10 offset-m1 s12 z-depth-5" style="background-color: #10171e;">
            <h5 class="flow-text" style="font-weight: bold; text-align: center"><i class="material-icons left light-green-text text-lighten-3">local_activity</i> Entertainment</h5>

            <div class="center input-field">
                <input name="EntLimit"  class="budgetLimitInput" placeholder="$0.00">
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0;">
        <div class="card col l6 offset-l3 col m10 offset-m1 s12 z-depth-5" style="background-color: #10171e;">
            <h5 class="flow-text" style="font-weight: bold; text-align: center"><i class="material-icons left light-green-text text-lighten-3">monetization_on</i> Bills | Recurring Payments</h5>

            <div class="center input-field">
                <input name="BillsLimit"  class="budgetLimitInput" placeholder="$0.00">
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0;">
        <div class="card col l6 offset-l3 col m10 offset-m1 s12 z-depth-5" style="background-color: #10171e;">
            <h5 class="flow-text" style="font-weight: bold; text-align: center"><i class="material-icons left light-green-text text-lighten-3">drive_eta</i> Gas | Auto</h5>

            <div class="center input-field">
                <input name="GasLimit"  class="budgetLimitInput" placeholder="$0.00" style="width: 10%; font-weight: bold">
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0;">
        <div class="card col l6 offset-l3 col m10 offset-m1 s12 z-depth-5" style="background-color: #10171e;">
            <h5 class="flow-text" style="font-weight: bold; text-align: center"><i class="material-icons left light-green-text text-lighten-3">gesture</i> Miscellaneous Expenses</h5>

            <div class="center input-field">
                <input name="MiscLimit" class="budgetLimitInput" placeholder="$0.00" style="width: 10%; font-weight: bold">
            </div>
        </div>
    </div>

    @Html.Hidden("Email", User.Identity.Name)
    @Html.Hidden("GroceryLimit", "GroceryLimit")
    @Html.Hidden("HousingLimit", "HousingLimit")
    @Html.Hidden("EntLimit", "EntLimit")
    @Html.Hidden("BillsLimit", "BillsLimit")
    @Html.Hidden("GasLimit", "GasLimit")
    @Html.Hidden("MiscLimit", "MiscLimit")
    @Html.Hidden("Month", DateTime.Now.Month)
</form>
  

<script>
    setTimeout("$('#updateLimitError').hide().html(data).fadeIn('slow');", 4000);
</script>