@model IEnumerable<MyWebsite.Models.BudgetApp.BudgetItems>

@{  
    var user = User.Identity.Name;
    var budgetMonth = DateTime.Now.Month;
}
<div class="partialLoginText"><p>@Html.Partial("_LoginPartial", 1)</p></div>
<h3 class="painlessBudgetTitle">The Painless Budget</h3>

<div class="container">
    <div style="margin-top: 25px; text-align: center;">
        <h6 class="greenCenterTxt">@ViewBag.Deleted</h6>
        <a href='@Url.Action("Index", "Budgets")'; class="waves-effect waves-light btn-large underline-hover grey darken-4" style="font-weight: bold; font-size: 20px;"><i class="material-icons left">arrow_back</i>Return to Budget</a>
    </div>

    <h4 style="margin-top:55px; margin-bottom:25px; font-weight:bold; text-align:center">Add Transaction</h4>

    @*Validation Errors*@
    <div class="container" style="margin-top:20px;">
        <h6 style="font-weight:bold; color:#D50000; text-align:center">@ViewBag.Error</h6>
        <h6 class="greenCenterTxt">@ViewBag.SuccessTransactionAdded</h6>
    </div>
    <div class="row">
        <div class="col s12 m12 l4"></div>
        <form asp-action="AddTransaction" class="col s12 m12 l4 center z-depth-2" style="border: 1px dotted #cfd8dc">
            <div class="input-field col s12" style="margin-bottom:35px; margin-top:35px;">
                <select name="TypeOfBudget">
                    <option value="0" disabled selected>1. Select a Category</option>
                    <option value="1">Grocery</option>
                    <option value="2">Housing</option>
                    <option value="3">Entertainment</option>
                    <option value="4">Bills</option>
                    <option value="5">Gas</option>
                    <option value="6">Miscellaneous</option>
                </select>
            </div>
            <h5><b>2. Description</b></h5>
            <div class="input-field">
                <input name="Description" placeholder=" ..." id="purchase-item" style="margin-top: 25px; background-color: #080C10!important;" type="text" class="validate">
            </div>
            <h5 style="margin-top:25px;"><b>3. Price</b></h5>
            <div class="input-field" style="margin-bottom: 10px;">
                <i class="material-icons prefix" style="margin-top:30px; color:#54b798">attach_money</i>
                <input name="Cost" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" step="0.01" class="validate">
                @Html.Hidden("Description", "Description")
                @Html.Hidden("Cost", "Cost")
                @Html.Hidden("TypeOfBudget", "TypeOfBudget")
                <div style="margin-top:23px;"><h5><b>4. Save</b></h5> <button type="submit" class="btn-floating btn-large waves-effect waves-light blue-grey lighten-4"><i id="saveBtn" class="far fa-save" style="font-weight:bold; color: #212121 !important;"></i></button></div>
            </div>
        </form>
        <div class="col s12 m12 l4"></div>
    </div>
</div>

@*View Transactions*@
<div class="container center" style="margin-top:35px; margin-bottom:250px;">
    <h5 style="margin-top:55px; margin-bottom:25px; font-weight:bold; color:#cfd8dc; text-align:center">Transactions</h5>
    <a class="waves-effect waves-light underline-hover btn-large grey darken-4" id="transaction-btnG" style="font-weight:bold; font-size:20px; margin-top:10px;"><i class="material-icons left">local_dining</i>Grocery</a>
        <table class="table" id="transactionsG" align="center" style="display:none; width:25%; margin-bottom:25px;">
            <tr style="border-bottom: 1px dotted #cfd8dc">
                <th>Date</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
            @{ int count = 0;}
            @foreach (var item in Model.Where(x => Convert.ToInt32(x.TypeOfBudget) == 1).OrderBy(x => x.Date))
            {
                count += 1;
                <tr style="border-bottom: 1px dotted #cfd8dc">
                    <td>@item.Date.ToString("MM/dd/yyyy")</td>
                    <td>@item.Description</td>
                    <td>$@item.Cost</td>
                    <td><a href='@Url.Action("DeleteTransaction", "Budgets", new { id = item.TransactionId, returnTo = "AddTransaction" })'><i class="material-icons left trashcan-icon">delete</i></a></td>
                </tr>            
            }
            @if (count == 0)
            {
                <tr>
                    <th>No Transactions...</th>
                </tr>
            }
        </table>
    <a class="waves-effect waves-light underline-hover btn-large grey darken-4" id="transaction-btnH" style="font-weight:bold; font-size:20px; margin-top:10px;"><i class="material-icons left">home</i>Housing</a>
    <table class="table" id="transactionsH" align="center" style="display:none; width:25%; margin-bottom:25px;">
        <tr style="border-bottom: 1px dotted #cfd8dc">
            <th>Date</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
        @{ int countH = 0;}
        @foreach (var item in Model.Where(x => Convert.ToInt32(x.TypeOfBudget) == 2).OrderBy(x => x.Date))
        {          
            countH += 1;
            <tr style="border-bottom: 1px dotted #cfd8dc">
                <td>@item.Date.ToString("MM/dd/yyyy")</td>
                <td>@item.Description</td>
                <td>$@item.Cost</td>
                <td><a href='@Url.Action("DeleteTransaction", "Budgets", new { id = item.TransactionId, returnTo = "AddTransaction" })'><i class="material-icons left trashcan-icon">delete</i></a></td>
            </tr>
        }
        @if (countH == 0)
        {
            <tr>
                <th>No Transactions...</th>
            </tr>
        }
    </table>

    <a class="waves-effect waves-light btn-large underline-hover grey darken-4" id="transaction-btnE" style="font-weight:bold; font-size:20px; margin-top:10px;"><i class="material-icons left">local_activity</i>Entertainment</a>
    <table class="table" id="transactionsE" align="center" style="display:none; width:25%; margin-bottom:25px;">
        <tr style="border-bottom: 1px dotted #cfd8dc">
            <th>Date</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
        @{ int countE = 0;}
        @foreach (var item in Model.Where(x => Convert.ToInt32(x.TypeOfBudget) == 3).OrderBy(x => x.Date))
        {           
            countE += 1;
            <tr style="border-bottom: 1px dotted #cfd8dc">
                <td>@item.Date.ToString("MM/dd/yyyy")</td>
                <td>@item.Description</td>
                <td>$@item.Cost</td>
                <td><a href='@Url.Action("DeleteTransaction", "Budgets", new { id = item.TransactionId, returnTo = "AddTransaction" })'><i class="material-icons left trashcan-icon">delete</i></a></td>
            </tr>
        }
        @if (countE == 0)
        {
            <tr>
                <th>No Transactions...</th>
            </tr>
        }
    </table>
    
    <a class="waves-effect waves-light btn-large underline-hover grey darken-4" id="transaction-btnB" style="font-weight:bold; font-size:20px; margin-top:10px;"><i class="material-icons left">monetization_on</i>Bills</a>
    <table class="table" id="transactionsB" align="center" style="display:none; width:25%; margin-bottom:25px;">
        <tr style="border-bottom: 1px dotted #cfd8dc">
            <th>Date</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
        @{ int countB = 0;}
        @foreach (var item in Model.Where(x => Convert.ToInt32(x.TypeOfBudget) == 4).OrderBy(x => x.Date))
        {
            countB += 1;
            <tr style="border-bottom: 1px dotted #cfd8dc">
                <td>@item.Date.ToString("MM/dd/yyyy")</td>
                <td>@item.Description</td>
                <td>$@item.Cost</td>
                <td><a href='@Url.Action("DeleteTransaction", "Budgets", new { id = item.TransactionId, returnTo = "AddTransaction" })'><i class="material-icons left trashcan-icon">delete</i></a></td>
            </tr>
        }
        @if (countB == 0)
        {
            <tr>
                <th>No Transactions...</th>
            </tr>
        }
    </table>

    <a class="waves-effect waves-light btn-large underline-hover grey darken-4" id="transaction-btnGas" style="font-weight:bold; font-size:20px; margin-top:10px;"><i class="material-icons left">drive_eta</i>Gas</a>
    <table class="table" id="transactionsGas" align="center" style="display:none; width:25%; margin-bottom:25px;">
        <tr style="border-bottom: 1px dotted #cfd8dc">
            <th>Date</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
        @{ int countGas = 0;}
        @foreach (var item in Model.Where(x => Convert.ToInt32(x.TypeOfBudget) == 5).OrderBy(x => x.Date))
        {
            countGas += 1;
            <tr style="border-bottom: 1px dotted #cfd8dc">
                <td>@item.Date.ToString("MM/dd/yyyy")</td>
                <td>@item.Description</td>
                <td>$@item.Cost</td>
                <td><a href='@Url.Action("DeleteTransaction", "Budgets", new { id = item.TransactionId, returnTo = "AddTransaction" })'><i class="material-icons left trashcan-icon">delete</i></a></td>
            </tr>
        }
        @if (countGas == 0)
        {
            <tr>
                <th>No Transactions...</th>
            </tr>
        }
    </table>

    <a class="waves-effect waves-light btn-large underline-hover grey darken-4" id="transaction-btnM" style="font-weight:bold; font-size:20px; margin-top:10px;"><i class="material-icons left">gesture</i>Miscellaneous</a>
    <table class="table" id="transactionsM" align="center" style="display:none; width:25%; margin-bottom:15px;">
        <tr style="border-bottom: 1px dotted #cfd8dc">
            <th>Date</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
        @{ int countM = 0;}
        @foreach (var item in Model.Where(x => Convert.ToInt32(x.TypeOfBudget) == 6).OrderBy(x => x.Date))
        {            
            countM += 1;
            <tr style="border-bottom: 1px dotted #cfd8dc">
                <td>@item.Date.ToString("MM/dd/yyyy")</td>
                <td>@item.Description</td>
                <td>$@item.Cost</td>
                <td><a href='@Url.Action("DeleteTransaction", "Budgets", new { id = item.TransactionId, returnTo = "AddTransaction" })'><i class="material-icons left trashcan-icon">delete</i></a></td>
            </tr>
        }
        @if (countM == 0)
        {
            <tr>
                <th>No Transactions...</th>
            </tr>
        }
    </table>
</div>

<script>
    $(document).ready(function () {
        $('select').formSelect();
        Transactions();
    });

    //Show/Hide transactions based on category
    function Transactions() {
        $('#transaction-btnG').on('click', function () {
            $('#transactionsG').toggle();
        });

        $('#transaction-btnH').on('click', function () {
            $('#transactionsH').toggle();
        });

        $('#transaction-btnB').on('click', function () {
            $('#transactionsB').toggle();
        });
    
        $('#transaction-btnE').on('click', function () {
           $('#transactionsE').toggle();
        });
    
        $('#transaction-btnGas').on('click', function () {
           $('#transactionsGas').toggle();
        });
    
        $('#transaction-btnM').on('click', function () {
           $('#transactionsM').toggle();
        });
    }

    var clickedG = true;
    var clickedH = true;
    var clickedB = true;
    var clickedE = true;
    var clickedGas = true;
    var clickedM = true;


   $('#transaction-btnG').click(function () {
        if (clickedG) {
            $(this).css("cssText", "color: #54b798 !important; font-weight:bold; font-size:20px; margin-top:10px;");
            clickedG = false;
        } else {
            $(this).css("cssText", "color: #cfd8dc !important; font-weight:bold; font-size:20px; margin-top:10px;");
            clickedG = true;
        }
    });
   
    $('#transaction-btnH').click(function () {
            if (clickedH) {
                $(this).css("cssText", "color: #54b798 !important; font-weight:bold; font-size:20px; margin-top:10px;");
                clickedH = false;
            } else {
                $(this).css("cssText", "color: #cfd8dc !important; font-weight:bold; font-size:20px; margin-top:10px;");
                clickedH = true;
            }
        });

    $('#transaction-btnB').click(function () {
        if (clickedB) {
            $(this).css("cssText", "color: #54b798 !important; font-weight:bold; font-size:20px; margin-top:10px;");
            clickedB = false;
        } else {
            $(this).css("cssText", "color: #cfd8dc !important; font-weight:bold; font-size:20px; margin-top:10px;");
            clickedB = true;
        }
    });

    $('#transaction-btnE').click(function () {
        if (clickedE) {
            $(this).css("cssText", "color: #54b798 !important; font-weight:bold; font-size:20px; margin-top:10px;");
            clickedE = false;
        } else {
            $(this).css("cssText", "color: #cfd8dc !important; font-weight:bold; font-size:20px; margin-top:10px;");
            clickedE = true;
        }
    });

    $('#transaction-btnGas').click(function () {
        if (clickedGas) {
            $(this).css("cssText", "color: #54b798 !important; font-weight:bold; font-size:20px; margin-top:10px;");
            clickedGas = false;
        } else {
            $(this).css("cssText", "color: #cfd8dc !important; font-weight:bold; font-size:20px; margin-top:10px;");
            clickedGas = true;
        }
    });

    $('#transaction-btnM').click(function () {
        if (clickedM) {
            $(this).css("cssText", "color: #54b798 !important; font-weight:bold; font-size:20px; margin-top:10px;");
            clickedM = false;
        } else {
            $(this).css("cssText", "color: #cfd8dc !important; font-weight:bold; font-size:20px; margin-top:10px;");
            clickedM = true;
        }
    });
    
</script>


