@*@model MyWebsite.Models.BudgetProject.BudgetItems*@
@model IEnumerable<MyWebsite.Models.BudgetProject.BudgetItems>
@using MyWebsite.Models.BudgetProject

@{ string user = User.Identity.Name;}

@*@{var budgetList = Enum.GetValues(typeof(BudgetCategory)).OfType<BudgetCategory>().Select(m => new { Text = m.ToString(), Value = (int)m }).ToList();}*@

<div style="text-align:center; margin-top:80px;"><p style="text-align:center;">@Html.Partial("_LoginPartial")</p></div>
<h3 style="text-align:center; color:#cfd8dc; margin-top:100px;">Budget App</h3>
<div style="border-bottom: 1px dotted #cfd8dc;"></div>


<div class="container">
    <h5 style="margin-top:35px; margin-bottom:25px; font-weight:bold; color:#D50000; text-align:center">Add Transaction</h5>
    <div class="row">
        <div class="col s12 m12 l4"></div>
        <form asp-action="AddTransaction" class="col s12 m12 l4 center" style="border: 1px solid #cfd8dc; background-color:#48575E;">
            <div class="input-field col s12" style="background-color:#48575E; color:#D50000 !important; margin-bottom:35px; margin-top:35px;">
                <select id="budgetTypeSelection" name="TypeOfBudget">
                    <option value="" disabled selected>Select a Category</option>
                    <option value="1">Grocery</option>
                    <option value="2">Housing</option>
                    <option value="3">Bills</option>
                    <option value="3">Entertainment</option>
                    <option value="3">Gas</option>
                    <option value="3">Miscellaneous</option>
                </select>
            </div>
            <h5>Description</h5>
            <div class="input-field">
                <input name="Description" placeholder="      Apples" id="purchase-item" style="margin-top: 25px;" type="text" class="validate">
            </div>
            <h5 style="margin-top:25px;">Price</h5>
            <div class="input-field">
                <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
                <input name="Cost" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" step="0.01" class="validate">
                @Html.Hidden("Email", user)
                @Html.Hidden("Description", "Description")
                @Html.Hidden("Cost", "Cost")
                @Html.Hidden("TypeOfBudget", "TypeOfBudget")
                <div style="margin-top:23px;"><input type="submit" style="cursor:pointer" value="ADD" class="grey-button"/></div>
            </div>
        </form>
        <div class="col s12 m12 l4"></div>
    </div>
</div>

<p>Transactions</p>
@foreach(var item in Model.Where(x => x.Email == user))
{
    <p>Transaction Description: @item.Description</p>
    <p>Item Cost: @item.Description</p>
    <p>Budget Category: @item.TypeOfBudget</p>
}

<style>

    .dropdown-content li > a, .dropdown-content li > span {
        color: #5C717B !important;
        font-weight: bold;
        text-align: center;
    }
    
    .select-dropdown li.disabled, .select-dropdown li.disabled > span, .select-dropdown li.optgroup {
        color: black !important;
        font-weight: bold;
        text-align: center;
    }



    .select-wrapper input.select-dropdown {
        color: #76ff03 !important;
        font-weight: bold !important;
        font-size: 25px;
        text-align: center;
        border: 1px solid #cfd8dc !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .select-wrapper input.select-dropdown:hover{
        background-color: #5C717B !important;
        border:none !important;
    }

    .grey-button {
        border-radius: 0px;
        border: 1px solid #cfd8dc;
        color: #76ff03;
        padding: 15px;
        background-color: #48575E;
        font-weight: 400;
        font-size: 20px;
        font-weight:bold;
    }

    .grey-button:hover {
        color: black !important;
        background-color: #5C717B;
        border: none;
        color: #76ff03 !important;
    }

    
</style>

<script>
    $(document).ready(function () {
        //$('.dropdown-trigger').dropdown();
        $('select').formSelect();
        //var instance = M.FormSelect.getInstance(elem);
    });

    //$(function () {
    //    $("#grocery").on('change', function () {
    //        $('#dropdown1').val("1");
</script>




















@*<h2>AddTransaction</h2>

    <h4>BudgetItems</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddTransaction">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cost" class="control-label"></label>
                    <input asp-for="Cost" class="form-control" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TypeOfBudget" class="control-label"></label>
                    <select asp-for="TypeOfBudget" class="form-control"></select>
                    <span asp-validation-for="TypeOfBudget" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

