@model IEnumerable<MyWebsite.Models.BudgetProject.Budget>
@using Microsoft.AspNetCore.Identity
@using System.Linq
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

@{ var emptyBudget = Convert.ToBoolean(TempData["isBudgetEmpty"]);}

@{ string user = User.Identity.Name;}


<div style="text-align:center; margin-top:80px;"><p style="text-align:center;">@Html.Partial("_LoginPartial")</p></div>
<h3 style="text-align:center; color:#cfd8dc; margin-top:100px;">Budget App</h3>

@if (!SignInManager.IsSignedIn(User))
{
    <p style="text-align:center; font-size:20px; margin-top:30px;">Please log in or register first to use the app.</p>
}
else
{
    @if (emptyBudget)
    {
        <div style="border-bottom: 1px dotted #76ff03;"></div>

        @*Set Budget Limit*@
        <form method="post" action="@Url.Action("Index", "Budgets")">
            <div style="margin-top:35px; text-align:center;"><input type="submit" value="SET" class="yellow-button" style="padding-left:200px; padding-right:200px; font-weight:bold; letter-spacing:2px;" /></div>
            <div class="row" style="margin-top:20px; margin-left:200px; margin-right:200px;">
                <div class="col s12 m6 l4">
                    <h5 style="margin-top:77px; font-weight:bold;">Groceries/Food</h5>
                    <div class="input-field">
                        <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
                        <input name="GroceryLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" class="validate">
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <h5 style="margin-top:77px; font-weight:bold;">Housing/Rent</h5>
                    <div class="input-field">
                        <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
                        <input name="HousingLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" class="validate">
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <h5 style="margin-top:77px; font-weight:bold;">Entertainment</h5>
                    <div class="input-field">
                        <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
                        <input name="EntLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" class="validate">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:80px; margin-left:200px; margin-right:200px;">
                <div class="col s12 m6 l4">
                    <h5 style="margin-top:77px; font-weight:bold;">Bills</h5>
                    <div class="input-field">
                        <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
                        <input name="BillsLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" class="validate">
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <h5 style="margin-top:77px; font-weight:bold;">Car/Gas</h5>
                    <div class="input-field">
                        <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
                        <input name="GasLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" class="validate">
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <h5 style="margin-top:77px; font-weight:bold;">Miscellaneous Expenses</h5>
                    <div class="input-field">
                        <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
                        <input name="MiscLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" class="validate">
                    </div>
                </div>
            </div>
            @Html.Hidden("Email", user)
            @Html.Hidden("GroceryLimit", "GroceryLimit")
            @Html.Hidden("HousingLimit", "HousingLimit")
            @Html.Hidden("EntLimit", "EntLimit")
            @Html.Hidden("BillsLimit", "BillsLimit")
            @Html.Hidden("GasLimit", "GasLimit")
            @Html.Hidden("MiscLimit", "MiscLimit")
        </form>

        //End of Set Budget Limit

    }
    else
    {
        <div style="margin-top:55px; margin-bottom: 55px; text-align:center;">
            <a href='@Url.Action("AddTransaction", "Budgets")' class="waves-effect waves-light btn-large sharpCorners grey darken-4" style="font-weight:bold; font-size:20px;"><i class="material-icons left">add_box</i>Add Transaction</a>
            @foreach (var item in Model)
            {
                <a asp-action="Edit" asp-route-id="@item.Id" class="waves-effect waves-light btn-large sharpCorners grey darken-4" style="font-weight:bold; font-size:20px;"><i class="material-icons left">edit</i>Edit Budget Limit</a>
            }
        </div>

        @*@foreach (var item in Model)
        {
            <div style="text-align:center; margin-top:50px; margin-bottom: 50px">
                <a asp-action="Edit" asp-route-id="@item.Id" class="waves-effect waves-light btn-large sharpCorners grey darken-4" style="font-weight:bold; font-size:20px;"><i class="material-icons left">edit</i>Edit Budget Limit</a>
            </div>
        }*@

        @foreach (var item in Model)
        {
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4">
                        @{float left = item.GroceryLimit - Convert.ToInt32(TempData["groceryTotal"]);}

                        <h4 style="color:#FF5733">Groceries/Food</h4>
                        @if (Convert.ToInt32(TempData["groceryTotal"]) > 0)
                        {
                            <h5>Spent: <span style="color:#c62828">$@TempData["groceryTotal"]</span></h5>
                        }
                        @if (left != item.GroceryLimit && left >0)
                        {
                            <h5>Remaining: <span style="color:#00695c ">$@left</span></h5>
                        }
                        @if (left != item.GroceryLimit && left <= 0)
                            {
                            <h5 class="text-red accent-1">Remaining: $@left</h5>
                            }

                        <h5>Limit: $@item.GroceryLimit</h5>
                    </div>
                    <div class="col s12 m6 l4">
                        <h4 style="color:#FF9C33">Housing/Rent</h4>
                        <h5>$@TempData["housingTotal"] / $@item.HousingLimit</h5>
                    </div>
                    <div class="col s12 m6 l4">
                        <h4 style="color:#E0FF33">Entertainment</h4>
                        <h5>$@TempData["entTotal"] / $@item.EntLimit</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l4">
                        <h4 style="color:#33FF96">Bills</h4>
                        <h5>$@TempData["billsTotal"] / $@item.BillsLimit</h5>
                    </div>
                    <div class="col s12 m6 l4">
                        <h4 style="color:#1ABD1A">Gas/Car</h4>
                        <h5>$@TempData["gasTotal"] / $@item.GasLimit</h5>
                    </div>
                    <div class="col s12 m6 l4">
                        <h4 style="color:#F54555">Miscellaneous</h4>
                        <h5>$@TempData["miscTotal"] / $@item.MiscLimit</h5>
                    </div>
                </div>
            </div>
        }
        <div style="width:20%;" class="ct-chart ct-perfect-fourth"></div>
    }
}

<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<script>
    new Chartist.Pie('.ct-chart', {
        series: [20, 10, 30, 40]
    }, {
            donut: true,
            donutWidth: 60,
            donutSolid: true,
            startAngle: 270,
            showLabel: true
        });
</script>