@model MyWebsite.Models.BudgetApp.Budget
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = User.Identity.Name;
    var currentMonth = DateTime.Now.ToString("MMMM");
}

<div style="margin-top: 100px;">
    @Html.Partial("_LoginPartial", 1)
</div>

<p id="updateSuccess" class=" light-green-text text-lighten-3"style="margin-left: 15px;">@ViewBag.SuccessLimitsUpdated</p>

<h4 class="painlessBudgetTitle">The Painless Budget</h4>

@if (!SignInManager.IsSignedIn(User)) //If not logged in/registered
{
    <p style="text-align:center; font-size:20px; margin-top:30px; ">Please log in or register first to use the app.</p>
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="~/images/painlessBudget/painlessBudget1.png" /></a>
        <a class="carousel-item" href="#two!"><img src="~/images/painlessBudget/painlessBudget2.png" /></a>
        <a class="carousel-item" href="#three!"><img src="~/images/painlessBudget/painlessBudget3.png" /></a>
        <a class="carousel-item" href="#four!"><img src="~/images/painlessBudget/painlessBudget4.png" /></a>
        <a class="carousel-item" href="#five!"><img src="~/images/painlessBudget/painlessBudget5.png" /></a>
    </div>
}

//If logged in
else
{
    if (ViewBag.NoCurrentBudget)
    {
        if (ViewBag.HasPastBudget)
        {
            @Html.Partial("_PastBudgetSetBudgetLimitForm")
        }
        else //Has Never Had Budget - New Set Budget Limits Form
        {
            @Html.Partial("_SetBudgetLimitForm")
        }
    }

    else //Has Current Budget Information to Display
    {
        <div style="margin-top:25px; margin-bottom: 35px; text-align:center;">
            <a href='@Url.Action("AddTransaction", "Budgets")' class="waves-effect waves-light btn-large greyBudgetBtn" style="margin-top:10px;"><i class="material-icons left">add_circle_outline</i>Add Transaction</a>
            <a asp-action="Edit" asp-route-id="@ViewBag.BudgetId" class="waves-effect waves-light btn-large greyBudgetBtn" style="margin-top:10px;"><i class="material-icons left">edit</i>Edit Budget Limits</a>
            <a href='@Url.Action("PastBudgets", "Budgets")' class="waves-effect waves-light btn-large greyBudgetBtn" style="margin-top:10px;"><i class="material-icons left">date_range</i>View Past Budgets</a>
            <a href='@Url.Action("BudgetInsights", "Budgets")' class="waves-effect waves-light btn-large greyBudgetBtn" style="margin-top:10px;"><i class="material-icons left">trending_up</i>Budget Insights</a>
            <a href='@Url.Action("ExportExcel", "Budgets")' class="waves-effect waves-light btn-large greyBudgetBtn" style=" margin-top:10px;"><i class="far fa-file-excel" style="margin-right: 5px;"></i> Export Budget Data to Excel</a>
        </div>

        if (Model != null) //Display charts
        {
            <div class="container z-depth-5" style="margin-bottom: 100px; padding: 5px; border-radius: 4px;">
                <h4 style="text-align:center; margin-bottom:25px; margin-top: 10px;">@currentMonth</h4>
                <div class="row">
                    <div class="col s12 m12 l6">
                        @{ float remainingG = Model.GroceryLimit - ViewBag.BudgetTotals[0];}
                        @if (0 >= remainingG)
                        {
                            <h5 style="margin-left: 150px;">$@remainingG.ToString("#,##0.00")</h5>
                            remainingG = 0;
                        }
                        else
                        {
                            <h5 style="margin-left: 150px;"><span style="color: #c5e1a5">$@remainingG.ToString("#,##0.00") left</span></h5>
                        }
                        <a class="btn tooltipped tooltippedStyle" data-position="right" data-tooltip="$@Model.GroceryLimit.ToString("#,##0.00")">View Budget Limit</a>
                        <div id="donutchartGrocery" class="center-div donutSize"></div>
                        <h2 id="totalBudgetG" style="display: none">@remainingG</h2>
                        <h2 id="totalSpentG" style="display: none">@ViewBag.BudgetTotals[0]</h2>
                    </div>

                    <div class="col s12 m12 l6">
                        @{float remainingH = Model.HousingLimit - ViewBag.BudgetTotals[1];}
                        @if (0 >= remainingH)
                        {
                            <h5 style="margin-left: 150px;">$@remainingH.ToString("#,##0.00")</h5>
                            remainingH = 0;
                        }
                        else
                        {
                            <h5 style="margin-left: 150px;"><span style="color: #c5e1a5">$@remainingH.ToString("#,##0.00") left</span></h5>
                        }
                        <a class="btn tooltipped tooltippedStyle" data-position="right" data-tooltip="$@Model.HousingLimit.ToString("#,##0.00")">View Budget Limit</a>
                        <div id="donutchartHousing" class="center-div donutSize"></div>
                        <h2 id="totalBudgetH" style="display: none">@remainingH</h2>
                        <h2 id="totalSpentH" style="display: none">@ViewBag.BudgetTotals[1]</h2>
                    </div>

                    <div class="row">
                        <div class="col s12 m12 l6">
                            @{float remainingE = Model.EntLimit - ViewBag.BudgetTotals[2];}
                            @if (0 >= remainingE)
                            {
                                <h5 style="margin-left: 150px;">$@remainingE.ToString("#,##0.00")</h5>
                                remainingE = 0;
                            }
                            else
                            {
                                <h5 style="margin-left: 150px;"><span style="color: #c5e1a5">$@remainingE.ToString("#,##0.00") left</span></h5>
                            }
                            <a class="btn tooltipped tooltippedStyle" data-position="right" data-tooltip="$@Model.EntLimit.ToString("#,##0.00")">View Budget Limit</a>
                            <div id="donutchartEntertainment" class="center-div donutSize"></div>
                            <h2 id="totalBudgetE" style="display: none">@remainingE</h2>
                            <h2 id="totalSpentE" style="display: none">@ViewBag.BudgetTotals[2]</h2>
                        </div>

                        <div class="col s12 m12 l6">
                            @{float remainingB = Model.BillsLimit - ViewBag.BudgetTotals[3];}
                            @if (0 >= remainingB)
                            {
                                <h5 style="margin-left: 150px;">$@remainingB.ToString("#,##0.00")</h5>
                                remainingB = 0;
                            }
                            else
                            {
                                <h5 style="margin-left: 150px;"><span style="color: #c5e1a5">$@remainingB.ToString("#,##0.00") left</span></h5>
                            }
                            <a class="btn tooltipped tooltippedStyle" data-position="right" data-tooltip="$@Model.BillsLimit.ToString("#,##0.00")">View Budget Limit</a>
                            <div id="donutchartBills" class="center-div donutSize"></div>
                            <h2 id="totalBudgetB" style="display: none">@remainingB</h2>
                            <h2 id="totalSpentB" style="display: none">@ViewBag.BudgetTotals[3]</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m12 l6">
                            @{float remainingGas = Model.GasLimit - ViewBag.BudgetTotals[4];}
                            @if (0 >= remainingGas)
                            {
                                <h5 style="margin-left: 150px;">$@remainingGas.ToString("#,##0.00")</h5>
                                remainingGas = 0;
                            }
                            else
                            {
                                <h5 style="margin-left: 150px;"><span style="color: #c5e1a5">$@remainingGas.ToString("#,##0.00") left</span></h5>
                            }
                            <a class="btn tooltipped tooltippedStyle" data-position="right" data-tooltip="$@Model.GasLimit.ToString("#,##0.00")">View Budget Limit</a>
                            <div id="donutchartGas" class="center-div donutSize"></div>
                            <h2 id="totalBudgetGas" style="display: none">@remainingGas</h2>
                            <h2 id="totalSpentGas" style="display: none">@ViewBag.BudgetTotals[4]</h2>
                        </div>

                        <div class="col s12 m12 l6">
                            @{float remainingM = Model.MiscLimit - ViewBag.BudgetTotals[5];}
                            @if (0 >= remainingM)
                            {
                                <h5 style="margin-left: 150px;">$@remainingM.ToString("#,##0.00")</h5>
                                remainingM = 0;
                            }
                            else
                            {
                                <h5 style="margin-left: 150px;"><span style="color: #c5e1a5">$@remainingM.ToString("#,##0.00") left</span></h5>
                            }
                            <a class="btn tooltipped tooltippedStyle" data-position="right" data-tooltip="$@Model.MiscLimit.ToString("#,##0.00")">View Budget Limit</a>
                            <div id="donutchartMisc" class="center-div donutSize"></div>
                            <h2 id="totalBudgetM" style="display: none">@remainingM</h2>
                            <h2 id="totalSpentM" style="display: none">@ViewBag.BudgetTotals[5]</h2>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<style>
    .carousel .carousel-item {
        width: 600px !important;
        height: 300px !important;
    }

    .material-tooltip {
        background-color: #263238 !important;
    }
</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.tooltipped').tooltip();
        $('.carousel').carousel();
        donutChartGrocery();
        donutChartHousing();
        donutChartEntertainment();
        donutChartBills();
        donutChartGas();
        donutChartMisc();
    });

    setTimeout("$('#updateSuccess').hide().html(data).fadeIn('slow');", 4000);


    $('#unhide-set-budget-form').click(function () {
        $('#hidden-set-budget-form').toggle();
    });

    function donutChartGrocery() {
        var totalSpentG = parseInt(document.getElementById('totalSpentG').innerHTML);
        var totalBudgetG = parseInt(document.getElementById('totalBudgetG').innerHTML);

        var budgetData = [['SPENT', 'LEFT'], ['Total Spent', totalSpentG], ['Remaining Budget', totalBudgetG]];

        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable(budgetData);
            var formatter = new google.visualization.NumberFormat({pattern:'$###,###'} );
            formatter.format(data, 1);
            var options = {
                titleTextStyle: {
                    color: '#cfd8dc',
                    fontSize: 28,
                    bold: true,
                    fontName: 'arial'
                }
                , title: 'Grocery | Restaurant ',
                fontSize: 17,
                colors: ['#d32f2f', '#aed581'],
                pieHole: 0.5,
                backgroundColor: '#080C10',
                color: '#cfd8dc',
                is3D: true,
                legend: { position: 'right', textStyle: { color: '#cfd8dc', fontSize: 17 } }
            };
            var chart = new google.visualization.PieChart(document.getElementById('donutchartGrocery'));
            chart.draw(data, options);
        }
    }

    function donutChartHousing() {
        var totalSpentH = parseInt(document.getElementById('totalSpentH').innerHTML);
        var totalBudgetH = parseInt(document.getElementById('totalBudgetH').innerHTML);

        var budgetData = [['SPENT', 'LEFT'], ['Total Spent', totalSpentH], ['Remaining Budget', totalBudgetH]];

        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable(budgetData);
            var formatter = new google.visualization.NumberFormat({ pattern: '$###,###' });
            formatter.format(data, 1);
            var options = {
                titleTextStyle: {
                    color: '#cfd8dc',
                    fontSize: 28,
                    bold: true,
                    fontName: 'arial'
                }
                , title: 'Mortgage | Rent',
                fontSize: 17,
                colors: ['#d32f2f', '#aed581'],
                pieHole: 0.5,
                backgroundColor: '#080C10',
                color: '#ffffff',
                is3D: true,
                legend: { position: 'right', textStyle: { color: '#cfd8dc', fontSize: 17 } }
            };
            var chart = new google.visualization.PieChart(document.getElementById('donutchartHousing'));
            chart.draw(data, options);
        }
    }

    function donutChartEntertainment() {
        var totalSpentE = parseInt(document.getElementById('totalSpentE').innerHTML);
        var totalBudgetE = parseInt(document.getElementById('totalBudgetE').innerHTML);

        var budgetData = [['SPENT', 'LEFT'], ['Total Spent', totalSpentE], ['Remaining Budget', totalBudgetE]];

        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable(budgetData);
            var formatter = new google.visualization.NumberFormat({ pattern: '$###,###' });
            formatter.format(data, 1);
            var options = {
                titleTextStyle: {
                    color: '#cfd8dc',
                    fontSize: 28,
                    bold: true,
                    fontName: 'arial'
                }
                , title: 'Entertainment',
                fontSize: 17,
                colors: ['#d32f2f', '#aed581'],
                pieHole: 0.5,
                backgroundColor: '#080C10',
                color: '#cfd8dc',
                is3D: true,
                legend: { position: 'right', textStyle: { color: '#cfd8dc', fontSize: 17 } }
            };
            var chart = new google.visualization.PieChart(document.getElementById('donutchartEntertainment'));
            chart.draw(data, options);
        }
    }

    function donutChartBills() {
        var totalSpentB = parseInt(document.getElementById('totalSpentB').innerHTML);
        var totalBudgetB = parseInt(document.getElementById('totalBudgetB').innerHTML);

        var budgetData = [['SPENT', 'LEFT'], ['Total Spent', totalSpentB], ['Remaining Budget', totalBudgetB]];

        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable(budgetData);
            var formatter = new google.visualization.NumberFormat({ pattern: '$###,###' });
            formatter.format(data, 1);
            var options = {
                titleTextStyle: {
                    color: '#cfd8dc',
                    fontSize: 28,
                    bold: true,
                    fontName: 'arial'
                }
                , title: 'Bills | Payments',
                fontSize: 17,
                colors: ['#d32f2f', '#aed581'],
                pieHole: 0.5,
                backgroundColor: '#080C10',
                color: '#cfd8dc',
                is3D: true,
                legend: { position: 'right', textStyle: { color: '#cfd8dc', fontSize: 17 } }
            };
            var chart = new google.visualization.PieChart(document.getElementById('donutchartBills'));
            chart.draw(data, options);
        }
    }

    function donutChartGas() {
        var totalSpentGas = parseInt(document.getElementById('totalSpentGas').innerHTML);
        var totalBudgetGas = parseInt(document.getElementById('totalBudgetGas').innerHTML);

        var budgetData = [['SPENT', 'LEFT'], ['Total Spent', totalSpentGas], ['Remaining Budget', totalBudgetGas]];

        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable(budgetData);
            var formatter = new google.visualization.NumberFormat({ pattern: '$###,###' });
            formatter.format(data, 1);
            var options = {
                titleTextStyle: {
                    color: '#cfd8dc',
                    fontSize: 28,
                    bold: true,
                    fontName: 'arial'
                }
                , title: 'Gas | Auto',
                fontSize: 17,
                colors: ['#d32f2f', '#aed581'],
                pieHole: 0.5,
                backgroundColor: '#080C10',
                color: '#cfd8dc',
                is3D: true,
                legend: { position: 'right', textStyle: { color: '#cfd8dc', fontSize: 17 } }
            };
            var chart = new google.visualization.PieChart(document.getElementById('donutchartGas'));
            chart.draw(data, options);
        }
    }

    function donutChartMisc() {
        var totalSpentM = parseInt(document.getElementById('totalSpentM').innerHTML);
        var totalBudgetM = parseInt(document.getElementById('totalBudgetM').innerHTML);

        var budgetData = [['SPENT', 'LEFT'], ['Total Spent', totalSpentM], ['Remaining Budget', totalBudgetM]];

        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable(budgetData);
            var formatter = new google.visualization.NumberFormat({ pattern: '$###,###' });
            formatter.format(data, 1);
            var options = {
                titleTextStyle: {
                    color: '#cfd8dc',
                    fontSize: 28,
                    bold: true,
                    fontName: 'arial'
                }
                , title: 'Miscellaneous',
                fontSize: 17,
                colors: ['#d32f2f', '#aed581'],
                pieHole: 0.5,
                backgroundColor: '#080C10',
                color: '#cfd8dc',
                is3D: true,
                legend: { position: 'right', textStyle: { color: '#cfd8dc', fontSize: 17 } }
            };
            var chart = new google.visualization.PieChart(document.getElementById('donutchartMisc'));
            chart.draw(data, options);
        }
    }
</script>

