@model IEnumerable<MyWebsite.Models.BudgetProject.BudgetItems>

@{var user = User.Identity.Name;}

<div style="text-align:center; margin-top:100px;"><p style="text-align:center;">@Html.Partial("_LoginPartial", 1)</p></div>

<h3 style="text-align:center; margin-top:100px; text-decoration: underline">The Painless Budget</h3>

<div class="container">
    <div style="margin-top:25px; text-align:center;">
        <p style="text-align:center; font-weight:bold; color:#81cac4; margin-top:10px;">@ViewBag.Deleted</p>
        <a href='@Url.Action("Index", "Budgets", new { userName = user })' ; class="waves-effect waves-light lightBrown-hover btn-large sharpCorners grey darken-4" style="font-weight:bold; font-size:20px;"><i class="material-icons left">arrow_back</i>Return to Budget</a>
    </div>

    <h4 style="margin-top:55px; margin-bottom:25px; font-weight:bold; color:#cfd8dc; text-align:center">Past Budgets</h4>

    @*Displays month buttons only for months with budgets*@
    <div style="text-align: center;">
        @foreach (var month in ViewBag.BudgetMonthList)
        {
            <button id=@month class="waves-effect waves-light lightBrown-hover btn-large sharpCorners grey darken-4" style="font-weight: bold; font-size: 20px; margin-top: 10px;">@month</button>
        }
    </div>
</div>

<div>
    @Html.Partial("_PastBudgets")
</div>

<div style="margin-top: 300px;"></div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/pastBudgets.js"></script>

<script>
    $(document).ready(function () {
        $('select').formSelect();
        Transactions();
        donutChartTotal1();
        donutChartTotal2();
        donutChartTotal3();
        donutChartTotal4();
        donutChartTotal5();
        donutChartTotal6();
        donutChartTotal7();
        donutChartTotal8();
        donutChartTotal9();
        donutChartTotal10();
        donutChartTotal11();
        donutChartTotal12();
    });
</script>

