@model IEnumerable<PortfolioWebsite.Models.BudgetApp.BudgetItems>

@{var user = User.Identity.Name;}

<div class="painlessBudgetTitle"><p>@Html.Partial("_LoginPartial", 1)</p></div>
<h3 class="painlessBudgetTitle">The Painless Budget</h3>

<div class="container">
    <div style="margin-top:25px; text-align:center;">
        <p class="greenCenterTxt">@ViewBag.Deleted</p>
        <a href='@Url.Action("Index", "Budgets", new { userName = user })' ; class="waves-effect waves-light btn-large greyBudgetBtn"><i class="material-icons left">arrow_back</i>Return to Budget Dashboard</a>
    </div>

    <h4 style="margin-top:55px; margin-bottom:25px; text-align:center">Past Budgets</h4>
    @if (ViewBag.BudgetMonthList.Count > 0)
    {
        @*Displays month buttons only for months with budgets*@
        <div style="text-align: center;">
            @foreach (var month in ViewBag.BudgetMonthList)
            {
                <button id=@month class="waves-effect waves-light btn-large greyBudgetBtn" style="margin-top: 10px;">@month</button>
            }
        </div>
    }
    else {<h5 class="greenCenterTxt"><i class="far fa-times-circle"></i> No past budgets to display</h5>}
</div>

<div>
    @Html.Partial("_PastBudgets")
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/pastBudgets.js"></script>

<script>
    $(document).ready(function () {
        $('select').formSelect();
        Transactions();
        donutChartTotal1();
        donutChartTotal2();
        donutChartTotal3();
        donutChartTotal4();
        donutChartTotal5();
        donutChartTotal6();
        donutChartTotal7();
        donutChartTotal8();
        donutChartTotal9();
        donutChartTotal10();
        donutChartTotal11();
        donutChartTotal12();
    });
</script>

