@using Microsoft.AspNetCore.Identity
@using MyWebsite.Models
@model MyWebsite.Models.BudgetEntries
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{string user = User.Identity.Name; }
<h4>BudgetEntries</h4>
<hr />


<form method="post" action="@Url.Action("Set", "BudgetEntries")" class="row" style="margin-right:100px;">
    <div class="col-md-4">
        <h5 style="margin-top:77px; font-weight:bold;">Set Grocery Budget</h5>
        <div class="input-field">
            <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
            <input name="GroceryLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" step="0.01" class="validate">
        </div>
    </div>
    <div class="col-md-4">
        <h5 style="margin-top:77px; font-weight:bold;">Set Rent Budget</h5>
        <div class="input-field">
            <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
            <input name="RentLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" step="0.01" class="validate">
        </div>
    </div>
    <div class="col-md-4">
        <h5 style="margin-top:77px; font-weight:bold;">Set Entertainment Budget</h5>
        <div class="input-field">
            <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
            <input name="EntertainmentLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" step="0.01" class="validate">
        </div>
    </div>
    <div class="col-md-4">
        <h5 style="margin-top:77px; font-weight:bold;">Set Bills Budget</h5>
        <div class="input-field">
            <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
            <input name="BillsLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" step="0.01" class="validate">
        </div>
    </div>
    <div class="col-md-4">
        <h5 style="margin-top:77px; font-weight:bold;">Set Gas Budget</h5>
        <div class="input-field">
            <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
            <input name="GasLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" step="0.01" class="validate">
        </div>
    </div>
    <div class="col-md-4">
        <h5 style="margin-top:77px; font-weight:bold;">Set Miscellaneous Budget</h5>
        <div class="input-field">
            <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
            <input name="MiscLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" step="0.01" class="validate">
        </div>
    </div>
    <div style="margin-top:23px;"><input type="submit" value="SET" class="yellow-button" /></div>

    @Html.Hidden("Email", user)
    @Html.HiddenFor(x => x.GroceryLimit)
    @Html.HiddenFor(x => x.RentLimit)
    @Html.HiddenFor(x => x.EntertainmentLimit)
    @Html.HiddenFor(x => x.BillsLimit)
    @Html.HiddenFor(x => x.GasLimit)
    @Html.HiddenFor(x => x.MiscLimit)

</form>









<div class="row">
    <div class="col-md-4">
        <form asp-action="_BudgetLimitPartial">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroceryLimit" class="control-label"></label>
                <input asp-for="GroceryLimit" class="form-control" />
                <span asp-validation-for="GroceryLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentLimit" class="control-label"></label>
                <input asp-for="RentLimit" class="form-control" />
                <span asp-validation-for="RentLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntertainmentLimit" class="control-label"></label>
                <input asp-for="EntertainmentLimit" class="form-control" />
                <span asp-validation-for="EntertainmentLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillsLimit" class="control-label"></label>
                <input asp-for="BillsLimit" class="form-control" />
                <span asp-validation-for="BillsLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GasLimit" class="control-label"></label>
                <input asp-for="GasLimit" class="form-control" />
                <span asp-validation-for="GasLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiscLimit" class="control-label"></label>
                <input asp-for="MiscLimit" class="form-control" />
                <span asp-validation-for="MiscLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
