@using Microsoft.AspNetCore.Identity
@using MyWebsite.Models
@model IEnumerable<MyWebsite.Models.BudgetEntries>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{string user = User.Identity.Name; }
<h4>BudgetEntries</h4>
<hr />


<form method="post" action="@Url.Action("Set", "BudgetEntries")" class="row" style="margin-right:100px;">
    <div class="col-md-4">
        <h5 style="margin-top:77px; font-weight:bold;">Set Grocery Budget</h5>
        <div class="input-field">
            <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
            <input name="GroceryLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" step="0.01" class="validate">
        </div>
    </div>
    <div class="col-md-4">
        <h5 style="margin-top:77px; font-weight:bold;">Set Rent Budget</h5>
        <div class="input-field">
            <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
            <input name="RentLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" step="0.01" class="validate">
        </div>
    </div>
    <div class="col-md-4">
        <h5 style="margin-top:77px; font-weight:bold;">Set Entertainment Budget</h5>
        <div class="input-field">
            <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
            <input name="EntertainmentLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" step="0.01" class="validate">
        </div>
    </div>
    <div class="col-md-4">
        <h5 style="margin-top:77px; font-weight:bold;">Set Bills Budget</h5>
        <div class="input-field">
            <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
            <input name="BillsLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" step="0.01" class="validate">
        </div>
    </div>
    <div class="col-md-4">
        <h5 style="margin-top:77px; font-weight:bold;">Set Gas Budget</h5>
        <div class="input-field">
            <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
            <input name="GasLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" step="0.01" class="validate">
        </div>
    </div>
    <div class="col-md-4">
        <h5 style="margin-top:77px; font-weight:bold;">Set Miscellaneous Budget</h5>
        <div class="input-field">
            <i class="material-icons prefix" style="margin-top:30px; color:#76ff03;">attach_money</i>
            <input name="MiscLimit" placeholder="0" id="budget-limit-amount" style="margin-top: 25px;" type="number" step="0.01" class="validate">
        </div>
    </div>
    <div style="margin-top:23px;"><input type="submit" value="SET" class="yellow-button" /></div>

    @Html.Hidden("Email", user)
    @Html.Hidden("GroceryLimit", "GroceryLimit")
    @Html.Hidden("RentLimit", "RentLimit")
    @Html.Hidden("EntertainmentLimit")
    @Html.Hidden("BillsLimit", "BillsLimit")
    @Html.Hidden("GasLimit", "GasLimit")
    @Html.Hidden("MiscLimit", "MiscLimit")

</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
