<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/css/site.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/moment.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/css/materialize.css" />
    </environment>
    <environment exclude="Development"></environment>
</head>

<body>
    @*NAVBAR*@
    <div class="navbar-fixed hide-on-med-and-down">
        <nav class="black mainNav">
            <div class="nav-wrapper" style="margin-left: 100px; margin-right: 100px;">
                <a href="@Url.Action("Index", "Home")" class="brand-logo"><i id="navHomeIcon" class="far fa-square"></i></a>
                @if (ViewBag.UseHomePageLinks != null && ViewBag.UseHomePageLinks == true)
                {
                    <ul class="right">
                        <li class="z-depth-5"><a href="#Apps">Apps</a></li>
                        <li class="z-depth-5"><a href="#Experience">Experience</a></li>
                        <li class="z-depth-5"><a href="#Contact">Contact</a></li>
                    </ul>
                }
                else
                {
                    <ul class="right">
                        <li class="z-depth-5"><a>@Html.ActionLink("Apps", "Index", "Home", null, null, "Apps", null, null)</a></li>
                        <li class="z-depth-5"><a>@Html.ActionLink("Experience", "Index", "Home", null, null, "Experience", null, null)</a></li>
                        <li class="z-depth-5"><a>@Html.ActionLink("Contact", "Index", "Home", null, null, "Contact", null, null)</a></li>
                    </ul>
                }
            </div>
        </nav>
    </div>
    @*MOBILE NAVBAR*@
    <div class="navbar-fixed-top hide-on-med-and-up show-on-medium-and-down">
        <nav class="black mobileNav">
            @if (ViewBag.UseHomePageLinks != null && ViewBag.UseHomePageLinks == true)
            {
                <ul class="flow-text center">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="#Apps">Apps</a></li>
                    <li><a href="#Experience">Experience</a></li>
                    <li><a href="#Contact">Contact</a></li>
                </ul>
            }
            else
            {
                <ul class="flow-text center">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a>@Html.ActionLink("Apps", "Index", "Home", null, null, "Apps", null, null)</a></li>
                    <li><a>@Html.ActionLink("Experience", "Index", "Home", null, null, "Experience", null, null)</a></li>
                    <li><a>@Html.ActionLink("Contact", "Index", "Home", null, null, "Contact", null, null)</a></li>
                </ul>
            }
        </nav>
    </div>
    @RenderBody()
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {

            $('#navHomeIcon').mouseenter(
                function () {
                    $(this).animate({ marginLeft: '10px' }, 'slow');
                });
            $('#navHomeIcon').mouseleave(
                function () {
                    $(this).animate({ marginLeft: '0px' }, 'slow');
                });
        });
    </script>
    <footer style="z-index: 5">
        <div class="footer-copyright black z-depth-5">
            <ul id="horizontal-list" style="list-style: none;" class="center">
                <li id="copyright"> © 2018 Jordyn Thompson</li>
                <li><a href="https://www.linkedin.com/in/jordynrachelthompson/" target="_blank"><i class="fab fa-linkedin footer-icon"></i></a></li>
                <li><a href="https://github.com/JordynRachelThompson/" target="_blank"><i class="fab fa-github-square footer-icon"></i></a></li>
                <li><a href="mailto:jordyn@virtualzero.net" id="emailAddress">jordyn@virtualzero.net</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>

<environment>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>


